<div class="widget tag">
    <h3 class="title">Favorite programming fonts</h3>
    <ul class="entry">
        <li><a href="https://www.fontsquirrel.com/fonts/lekton" target="_blank" title="Lekton">Lekton</a></li>
        <li><a href="https://www.fontsquirrel.com/fonts/envy-code-r" target="_blank" title="Envy Code R">Envy Code R</a></li>
        <li><a href="https://www.fontsquirrel.com/fonts/fantasque-sans-mono" target="_blank" title="Fantasque Sans Mono">Fantasque Sans Mono</a></li>
        <li><a href="https://www.fontsquirrel.com/fonts/victor-mono" target="_blank" title="Victor Mono">Victor Mono</a></li>
    </ul>
</div>
