<% if ((site.data.pages || []).length){ %>
<div class="widget tag">
    <h3 class="title"><%= __('pages') %></h3>
    <ul class="entry">
        <% site.data.pages.forEach(function (page) { %>
        <li><a href="<%- page.url %>"><%= page.title %></a></li>
        <% }); %>
    </ul>
</div>
<% } %>